#crowd-sourcing(title="Do you want a better Flight-Planner?" style="display:none;")
  p.
    <strong>This Flight-Planner is about to get to the next level.</strong>

  p.
    I'm currently rewriting it for you, so you can get the most out of it:

  ul
    li full offline-support
    li make it a native Desktop, Android or iPad app
    li fix the bugs!
    li improve and modernize UI
    li fix broken FSEconomy-Integration
    li ...

  p.
    <strong>... but for that I'll need your help!</strong>
    As this is a lot of work I need to crowd source it as I work on it.

  p.
    <strong>Check out the new version here:</strong> <a href="https://der-on.github.io/X-Plane-Flight-Planner">https://der-on.github.io/X-Plane-Flight-Planner</a>

  p.
    So if you like, drop me a line with ideas and feedback on the new version.<br/>
    <br/>And of course I welcome any donations.

script
    $(document).ready(function(){
        CrowdSourcing();
    });
