#map

#routes
  a.add-route(href="javascript:void(0);", onclick="FlightPlanner.Routes.add();") + add route
  select#routes-select(onclick="FlightPlanner.Routes.activate(this.value);")
  a.edit-route(href="javascript:void(0);", onclick="FlightPlanner.Routes.config();", title="edit route) edit
  #routes-waypoints

script
    $(document).ready(function(){
        FlightPlanner.init('map','map-menu');
    });