#map

#routes
  nav#routes-menu
    a.add-route(href="javascript:void(0);", onclick="FlightPlanner.Routes.add();") + add route
    ul

script
    $(document).ready(function(){
        FlightPlanner.init('map','map-menu');
    });