.scroll-content
  h1 Import AptNad Data

  p Importing can take up from a bunch of seconds to a couple of minutes, so please be patient when the page does not seem to load.

  ul
    li
      a(href="/import/airports") Import airports from apt_nav/apt.dat
    li
      a(href="/import/navaids") Import navaids from apt_nav/earth_nav.dat
    li
      a(href="/import/fixes") Import fixes from apt_nav/earth_fix.dat