.scroll-content
  h1 Import AptNav Data

  p Importing can take up from a bunch of seconds to a couple of minutes, so please be patient when the page does not seem to load.

  ul
    li
      a(href="#{local_config.base}/import/airports") Import airports from apt_nav/apt.dat
    li
      a(href="#{local_config.base}/import/navaids") Import navaids from apt_nav/earth_nav.dat
    li
      a(href="#{local_config.base}/import/fixes") Import fixes from apt_nav/earth_fix.dat
    li
      a(href="#{local_config.base}/import/airways") Import airways from apt_nav/earth_awy.dat