doctype 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/gridless/assets/css/main.css?version=1')
    <!-- JavaScript -->
    <!--[if IE]><![endif]-->
    <!--[if lt IE 9]>
    script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    script(src="/gridless/assets/js/respond.min.js")

    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/jquery-ui/css/custom-theme/jquery-ui-1.8.18.custom.css')
    script(type='text/javascript', src='/jquery-ui/js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/jquery-ui/js/jquery-ui-1.8.18.custom.min.js')

    script(type='text/javascript', src='/javascripts/jquery.cookie.js')
    
    script(type='text/javascript', src='/OpenLayers/OpenLayers.js')
    link(rel='stylesheet', href='/OpenLayers/theme/default/style.css')
    script(type="text/javascript", src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false")

    script(type='text/javascript', src='/javascripts/flight_planner.js')
  body
    include includes/header
    section#content!= body
    include includes/footer