@import "lib";

@header_height: 3em;
@footer_height: 2em;
@menu_width: 25em;

html {
  width:100%;
  height:100%;
}

body {
  font-family:sans-serif;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-size:12px;
}
input,select,button,textarea {
  font-family:sans-serif;
  font-size:100%;
}
input[type=text] {
  .border-radius(3px);
  border:1px solid #333;
  background-color:#FFF;
  .v-gradient(#DDD,0%,#FFF,80%);
  padding:0.2em 0.5em;
}

#header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:@header_height - 1em;
  background: #CCC;
  z-index:1000;
  .box-shadow(0 0 10px rgba(0,0,0,0.25));
  padding:0.5em;
  .v-gradient(#AAA,0%,#666,100%);
  color:#FFF;
  .text-shadow(-1px -1px 1px #666);
  vertical-align:middle;
  
  h1 {
    font-size:180%;
    line-height:100%;
    float:left;
  }

  #search {
    float:right;
    font-size:120%;
    line-height:100%;
    vertical-align:middle;
    
    label {
      margin-right:1em;
    }
    input {
      width:10em;
      margin-right:1em;
      vertical-align:middle;
    }
    button {
      .border-radius (5px);
      .v-gradient (#BBB, 0%, #666, 100%);
      background-color:#333;
      color:#fff;
      text-decoration:none;
      padding:0.25em 0.5em;
      margin:0;
      border:1px solid #000;
      display:inline-block;
      .text-shadow(-1px -1px 1px #666);
      vertical-align:middle;
    }
  }
}

#search-results {
  position:fixed;
  top:@header_height;
  right:2em;
  width:15em;
  max-height:80%;
  overflow:auto;
  background:#fff;
  .border-radius (5px);
  .box-shadow (0 0 10px #ccc);
  z-index:1001;

  ul {
    list-style-type:none;
    padding:0;
    margin:0;

    &.loading {
      background-image:url('../images/loader.gif');
      background-repeat:no-repeat;
      background-position: center center;
      height:60px;
    }

    li {
      text-indent:0;
      background:#FFF;
      padding:0.25em;
      margin:0;
      border:1px solid #CCC;
      z-index:1;
    }
  }

  a.close {
    padding:0.2em;
    background:#DDD;
    .border-radius (5px);
    text-decoration:none;
    position:absolute;
    top:0;
    right:0;
    z-index:2;
    font-weight:bold;
    color:#CC0000;
  }
}

#content {
  position:fixed;
  top:@header_height;
  bottom:@footer_height;
  left:0;
  right:0;
  z-index:1;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:@menu_width;
  border:1px solid #000;
}
#routes {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  padding:1em 2px 2px 1em;
  width:@menu_width - 1em;
  background-color:#333;
  .h-gradient(#999,0%,#333,1em);
  .box-shadow(0 0 10px rgba(0,0,0,0.25));
  border-left:1px solid #000;
    
  a.add-route, a.edit-route {
    .border-radius (5px);
    .v-gradient (#BBB, 0%, #666, 100%);
    background-color:#333;
    color:#fff;
    text-decoration:none;
    padding:0.25em 0.5em;
    margin:0;
    border:1px solid #000;
    display:inline-block;
    .text-shadow(-1px -1px 1px #666);
  }
  
  a.edit-route {
    float:right;
  }
  
  #routes-select {
    padding:0.25em;
    font-size:100%;
    margin:0 0 0 1em;
    width:@menu_width - 13em;
    
    option {
      margin:0.25em;
    }
  }
    
  #routes-waypoints {
    .border-radius (5px);
    background-color:#DDD;
    .v-gradient(#EEE,0%,#DDD,100%);
    .box-shadow(inset 0 0 5px #AAA);
    color:#FFF;
    position:absolute;
    top:4em;
    left:1em;
    right:1em;
    bottom:1em;
    overflow:auto;
    border:1px solid #000;
    
    ul.waypoints {
      list-style-type:none;
      margin:0;
      padding:0;
      display:none;
      
      &.active {
        display:block;
      }
      
      li.waypoint {
        margin:0 0 0.5em 0;
        padding:0;
        .border-radius (5px);
        background:#666;
      }
    }
  }
}
#footer {
  height:@footer_height;
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  background: #CCC;
}


/* OpenLayers */

.olPopup h2 {
  font-size:120%;
}