/* Mixins */
html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
a,
a:visited {
  text-decoration: underline;
}
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
input,
select,
button,
textarea {
  font-family: sans-serif;
  font-size: 100%;
}
input[type=text],
input[type=number] {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #333;
  background-color: #FFF;
  background-image: linear-gradient(top, #dddddd 0%, #ffffff 80%);
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #ffffff 80%);
  background-image: -ms-linear-gradient(top, #dddddd 0%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #ffffff 80%);
  padding: 0.2em 0.5em;
}
button,
.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-image: -moz-linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-image: -ms-linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-image: -o-linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-color: #333;
  color: #fff !important;
  text-decoration: none;
  padding: 0.25em 0.5em;
  margin: 0;
  border: 1px solid #000;
  display: inline-block;
  text-shadow: -1px -1px 1px #666666;
  -webkit-text-shadow: -1px -1px 1px #666666;
  -moz-text-shadow: -1px -1px 1px #666666;
  -ms-text-shadow: -1px -1px 1px #666666;
  -o-text-shadow: -1px -1px 1px #666666;
}
a:hover {
  border-bottom: none;
}
.loading {
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 60px;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  background: #CCC;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -mz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 0.5em 1em;
  background-image: linear-gradient(top, #aaaaaa 0%, #666666 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #666666 100%);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #666666 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #666666 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #666666 100%);
  color: #FFF;
  text-shadow: -1px -1px 1px #666666;
  -webkit-text-shadow: -1px -1px 1px #666666;
  -moz-text-shadow: -1px -1px 1px #666666;
  -ms-text-shadow: -1px -1px 1px #666666;
  -o-text-shadow: -1px -1px 1px #666666;
  vertical-align: middle;
}
#header h1 {
  font-size: 180%;
  line-height: 100%;
  float: left;
}
#header #search {
  float: right;
  font-size: 120%;
  line-height: 100%;
  vertical-align: middle;
}
#header #search label {
  margin-right: 1em;
}
#header #search input {
  width: 10em;
  margin-right: 1em;
  vertical-align: middle;
}
#header #search button {
  vertical-align: middle;
}
#search-results {
  position: fixed;
  top: 3em;
  right: 2em;
  width: 15em;
  max-height: 80%;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
  -mz-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  z-index: 1001;
}
#search-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#search-results ul li {
  text-indent: 0;
  background: #FFF;
  padding: 0.25em;
  margin: 0;
  border: 1px solid #CCC;
  z-index: 1;
}
#search-results ul li.heading {
  font-weight: bold;
  text-transform: uppercase;
}
#search-results a.close {
  padding: 0.2em;
  background: #DDD;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-weight: bold;
  color: #CC0000;
}
#content {
  position: fixed;
  top: 3em;
  bottom: 2em;
  left: 0;
  right: 0;
  z-index: 1;
}
#content .scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  overflow: auto;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25em;
  border: 1px solid #000;
}
#map img {
  max-width: 1000%;
}
#routes {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1em 2px 2px 1em;
  width: 24em;
  background-color: #333;
  background-image: linear-gradient(left, #999999 0%, #333333 1em);
  background-image: -webkit-linear-gradient(left, #999999 0%, #333333 1em);
  background-image: -moz-linear-gradient(left, #999999 0%, #333333 1em);
  background-image: -ms-linear-gradient(left, #999999 0%, #333333 1em);
  background-image: -o-linear-gradient(left, #999999 0%, #333333 1em);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -mz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-left: 1px solid #000;
}
#routes a.add-route,
#routes a.edit-route {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-image: -moz-linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-image: -ms-linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-image: -o-linear-gradient(top, #bbbbbb 0%, #666666 100%);
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.25em 0.5em;
  margin: 0;
  border: 1px solid #000;
  display: inline-block;
  text-shadow: -1px -1px 1px #666666;
  -webkit-text-shadow: -1px -1px 1px #666666;
  -moz-text-shadow: -1px -1px 1px #666666;
  -ms-text-shadow: -1px -1px 1px #666666;
  -o-text-shadow: -1px -1px 1px #666666;
}
#routes #routes-select {
  padding: 0.25em;
  font-size: 100%;
  margin: 0 0 0 1em;
  width: 9em;
}
#routes #routes-select option {
  margin: 0.25em;
}
#routes #routes-waypoints {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #DDD;
  background-image: linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  box-shadow: inset 0 0 5px #aaaaaa;
  -webkit-box-shadow: inset 0 0 5px #aaaaaa;
  -moz-box-shadow: inset 0 0 5px #aaaaaa;
  -mz-box-shadow: inset 0 0 5px #aaaaaa;
  -o-box-shadow: inset 0 0 5px #aaaaaa;
  color: #FFF;
  position: absolute;
  top: 4em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  overflow: auto;
  border: 1px solid #000;
}
#routes #routes-waypoints ul.waypoints {
  list-style-type: none;
  text-indent: 0;
  margin: 0;
  padding: 0.5em;
  display: none;
}
#routes #routes-waypoints ul.waypoints.active {
  display: block;
}
#routes #routes-waypoints ul.waypoints li {
  list-style-type: none;
  margin: 0 0 0.5em 0;
  padding: 0.5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #666;
  background-image: linear-gradient(top, #333333 0%, #666666 100%);
  background-image: -webkit-linear-gradient(top, #333333 0%, #666666 100%);
  background-image: -moz-linear-gradient(top, #333333 0%, #666666 100%);
  background-image: -ms-linear-gradient(top, #333333 0%, #666666 100%);
  background-image: -o-linear-gradient(top, #333333 0%, #666666 100%);
  display: block;
  border: 1px solid #000;
}
#routes #routes-waypoints ul.waypoints li.waypoint {
  clear: both;
  padding-bottom: 2em;
  cursor: move;
}
#routes #routes-waypoints ul.waypoints li.waypoint .details-toggle {
  display: block;
}
#routes #routes-waypoints ul.waypoints li.waypoint .details {
  display: none;
}
#routes #routes-waypoints ul.waypoints li.waypoint a.remove {
  float: right;
}
#routes #routes-waypoints ul.waypoints li a {
  color: #FFF;
  text-decoration: underline;
}
#routes #routes-waypoints ul.waypoints li .waypoint-icon {
  text-decoration: none;
}
#routes #routes-waypoints ul.waypoints li.airport {
  background-color: #262659;
  background-image: linear-gradient(top, #3d3d8f 0%, #2e2e6b 100%);
  background-image: -webkit-linear-gradient(top, #3d3d8f 0%, #2e2e6b 100%);
  background-image: -moz-linear-gradient(top, #3d3d8f 0%, #2e2e6b 100%);
  background-image: -ms-linear-gradient(top, #3d3d8f 0%, #2e2e6b 100%);
  background-image: -o-linear-gradient(top, #3d3d8f 0%, #2e2e6b 100%);
}
#routes #routes-waypoints ul.waypoints li.navaid {
  background-color: #265926;
  background-image: linear-gradient(top, #3d8f3d 0%, #2e6b2e 100%);
  background-image: -webkit-linear-gradient(top, #3d8f3d 0%, #2e6b2e 100%);
  background-image: -moz-linear-gradient(top, #3d8f3d 0%, #2e6b2e 100%);
  background-image: -ms-linear-gradient(top, #3d8f3d 0%, #2e6b2e 100%);
  background-image: -o-linear-gradient(top, #3d8f3d 0%, #2e6b2e 100%);
}
#routes #routes-waypoints ul.waypoints li.fix {
  background-color: #592626;
  background-image: linear-gradient(top, #8f3d3d 0%, #6b2e2e 100%);
  background-image: -webkit-linear-gradient(top, #8f3d3d 0%, #6b2e2e 100%);
  background-image: -moz-linear-gradient(top, #8f3d3d 0%, #6b2e2e 100%);
  background-image: -ms-linear-gradient(top, #8f3d3d 0%, #6b2e2e 100%);
  background-image: -o-linear-gradient(top, #8f3d3d 0%, #6b2e2e 100%);
}
#routes #routes-waypoints ul.waypoints li.gps {
  background-color: #592659;
  background-image: linear-gradient(top, #8f3d8f 0%, #6b2e6b 100%);
  background-image: -webkit-linear-gradient(top, #8f3d8f 0%, #6b2e6b 100%);
  background-image: -moz-linear-gradient(top, #8f3d8f 0%, #6b2e6b 100%);
  background-image: -ms-linear-gradient(top, #8f3d8f 0%, #6b2e6b 100%);
  background-image: -o-linear-gradient(top, #8f3d8f 0%, #6b2e6b 100%);
}
#routes #routes-waypoints ul.waypoints li h4 {
  margin: 0 0 0.5em 0;
}
#routes #routes-waypoints ul.waypoints li h4 img {
  display: inline;
  margin: 0 0.5em 0 0;
  padding: 2px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#footer {
  height: 1.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #666;
  background-image: linear-gradient(top, #999999 0%, #333333 100%);
  background-image: -webkit-linear-gradient(top, #999999 0%, #333333 100%);
  background-image: -moz-linear-gradient(top, #999999 0%, #333333 100%);
  background-image: -ms-linear-gradient(top, #999999 0%, #333333 100%);
  background-image: -o-linear-gradient(top, #999999 0%, #333333 100%);
  padding: 0.5em 1em 0 1em;
  color: #FFF;
  line-height: 100%;
  text-shadow: -1px -1px 1px #666666;
  -webkit-text-shadow: -1px -1px 1px #666666;
  -moz-text-shadow: -1px -1px 1px #666666;
  -ms-text-shadow: -1px -1px 1px #666666;
  -o-text-shadow: -1px -1px 1px #666666;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -mz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
/* OpenLayers */
.olPopup h2 {
  font-size: 120%;
}
.olPopup h2 img {
  display: inline;
  margin: 0 0.5em 0 0;
  padding: 0;
  vertical-align: bottom;
}
/* jQuery UI */
.ui-dialog {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -mz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ui-button {
  text-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -ms-text-shadow: none;
  -o-text-shadow: none;
  color: #1C94C4 !important;
}
#route-color,
.route-color {
  display: inline-block;
  width: 2em;
  height: 1em;
  border: 1px solid #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#route-color {
  margin: 0 0.25em;
  height: 2.2em;
  vertical-align: middle;
}
.route-edit {
  line-height: 200%;
}
.route-edit label {
  width: 40%;
  display: inline-block;
  padding: 0;
  margin-right: 5%;
}
.route-edit input[type=text] {
  width: 40%;
}
.route-edit input[type=number] {
  width: 4em;
}
.route-edit .route-color {
  margin-right: 1em;
}
.route-edit .remove-route {
  float: right;
  text-decoration: underline;
}
.fse-jobs-table thead th {
  border-bottom: 1px solid #000;
}
.fse-jobs-table tbody td {
  border: 1px solid #666;
  padding: 0.25em;
  background: #FFF;
}
.fse-taskbar {
  position: absolute;
  z-index: 900;
  bottom: 2em;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -mz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.fse-taskbar:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.fse-taskbar .task {
  float: left;
  margin: 0;
  padding: 0;
}
.fse-taskbar .task a {
  padding: 0.25em 1em;
  border: 1px solid #666;
  background: #AAA;
  background-image: linear-gradient(top, #cccccc 0%, #aaaaaa 100%);
  background-image: -webkit-linear-gradient(top, #cccccc 0%, #aaaaaa 100%);
  background-image: -moz-linear-gradient(top, #cccccc 0%, #aaaaaa 100%);
  background-image: -ms-linear-gradient(top, #cccccc 0%, #aaaaaa 100%);
  background-image: -o-linear-gradient(top, #cccccc 0%, #aaaaaa 100%);
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  color: #000;
  text-decoration: none;
  display: block;
}
.follow-aircraft-label {
  margin-left: 1em;
}
